.main{
    flex: 1;
    position: relative;
    min-height: 100vh;
    padding-bottom: 15vh;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main img{
    border-radius: 50%;
    width: 40px;
    margin: 10px;
}

.left{
    font-size: 25px;
    padding-left: 20px;
    color: #585858;
}

.main-container{
    margin: auto;
    width: 900px;
}

.main-container .greetings{
    margin: 50px 0px;
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    color: #c4c7c5;
    padding: 20px;
}

.main .greetings span{
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}

.main .card{
    background-color: #f0f4f9;
    border-radius: 20px;
    height: 200px;
    padding: 15px;
    position: relative;
    cursor: pointer;
    color: #585858;
    font-size: 17px;
}

.card img{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}

.main .card:hover{
    background-color: #dfe4ea;
}

.main-bottom-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.searchbar{
   display: flex;
   align-items: center; 
   justify-content: space-between;
   /* gap: 10px; */
   background-color: #f0f4f9;
   padding: 10px 20px;
   border-radius: 50px;
   height: 55px;
}
.searchbar img{
    width: 24px;
    cursor: pointer; 
}

.searchbar input{
    flex: 1;
    background: transparent;
    outline: none;
    border: none;
    font-size: 17px;
    padding: 8px;
}

.searchbar div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.bottom-info{
    font-size: 12px;
    margin: 10px auto;
    text-align: center;
}

