.sidebar{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 20px 15px;
}

.sidebar img{
    width:20px;
}

.sidebar .menu{
    display: block;
    cursor: pointer;
    margin-left: 10px;
}

.sidebar .new_chat{
    display: inline-flex;
    align-items: center;
    margin-top:50px ;
    padding: 10px 15px;
    border-radius: 50px;
    gap: 10px;
    background-color: #e6eaf1;
    color: grey;
    font-size: 15px;
    cursor: pointer;
}

.sidebar .recent{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.sidebar .recent-title{
    margin-top: 15px;
    margin-bottom: 20px;
}

.sidebar .recent-entry{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #282828;
    padding:10px;
    /* background-color: red; */
    padding-right: 20px;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
}

.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}




